@import "./nullstyle.scss";

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(64px, auto) 1fr minmax(160px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";

  .header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__body {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 64px;
      display: grid;
      grid-template:
        1fr/1fr minmax(auto, 101px) minmax(auto, 663px) minmax(auto, 141px)
        minmax(auto, 50px) 1fr;
      align-items: center;
      background-color: #E54B4A;
      padding: 0px 10px;
      z-index: 2;
    }

    &__logo {
      grid-column: 2/3;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
    }

    &__logo img {
      max-width: 100%;
      display: block;
    }

    &__menu {
      grid-column: 3/4;
    }

    &__list {
      display: grid;
      grid-auto-flow: column;
      margin-bottom: 0;
    }

    &__link {
      color: #fff;
    }

    &__link a.active,
    &__link a {
      color: #fff;
    }

    &__burger {
      grid-column: 4/5;
    }
  }

  .main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 702px) minmax(auto, 300px) 1fr;
    padding: 20px 15px;

    .content {
      grid-column: 2/3;
      padding: 0 25px;

      .profileinfo {
        display: grid;
        grid-template: 1fr / minmax(auto, 155px) 1fr;

        &__avatar {
          overflow: hidden;
          height: 155px;
          width: 155px;
          border-radius: 5px;
          margin: 0 0 15px 0;
        }

        &__avatar img {
          display: block;
          max-width: 100%;
        }

        .ant-btn-default {
          background-color: #E54B4A;
          border-color: #E54B4A;
          font-size: 13px;
          line-height: 15px;
          font-weight: 500;
          color: #fff;
          width: 155px;
          margin: 0 0 10px 0;
        }

        .ant-btn-primary {
          background-color: #E54B4A;
          border-color: #E54B4A;
          font-size: 13px;
          line-height: 15px;
          font-weight: 500;
        }

        &__uploadfoto {
          display: block;
          padding: 4px 15px;
          text-align: center;
          background-color: #E54B4A;
          border-color: #E54B4A;
          border-radius: 2px;
          font-size: 13px;
          line-height: 22px;
          font-weight: 500;
          color: #fff;
          width: 155px;
          height: 32px;
          margin: 0 0 10px 0;
          cursor: pointer;
        }

        .ant-btn-icon-only {
          width: 32px;
          height: 32px;
          padding: 2.4px 0;
          font-size: 16px;
          border-radius: 2px;
          vertical-align: -3px;
          background-color: #E54B4A;
        }

        &__description {
          padding: 0 0 0 30px;
        }

        &__nikname {
          font-size: 24px;
          line-height: 28px;
          font-weight: 400;
          color: #212121;
        }

        &__mail {
          font-size: 14px;
          line-height: 24px;
          font-weight: 500;
        }

        .profile__status {
          color:rgba(0,0,0,0.5);
        }
      }

      .myposts {
        &__container {
          display: grid;
          grid-auto-flow: row;
        }

        &__input {
          border: 1px solid #e9e9e9;
          width: 100%;
          padding: 2px 5px;
          margin: 0 0 10px 0;
          border-radius: 2px;
        }

        &__btn {
          justify-self: right;
          font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
          border-radius: 2px;
          padding: 0 20px;
          cursor: pointer;
          font-size: 13px;
          line-height: 32px;
          font-weight: 500;
          background-color: #E54B4A;
          color: #fff;
          margin: 0 0 10px 0;
        }

        &__posts {
          .item {
            display: flex;
            flex-direction: column;
            margin: 0 0 20px 0;
            border: 1px solid #e9e9e9;
            border-radius: 2px;

            .top {
              display: flex;
              align-items: center;
              border-bottom: 1px solid #e9e9e9;
              padding: 3px 0 3px 3px;

              &__image {
                overflow: hidden;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin: 0 10px 0 0;
              }

              &__image img {
                display: block;
                max-width: 100%;
              }

              &__post {
                flex: 1 1 auto;
              }
            }

            .vote {
              display: flex;
              align-items: center;
              align-self: end;

              &__likes {
                margin: 0 15px 0 0;
              }

              &__likes,
              &__dislikes {
                font-weight: 500;
              }

              &__likes span:first-child,
              &__dislikes span:first-child {
                cursor: pointer;
              }
            }

            .vote span {
              display: inline-block;
              margin: 0 3px 0 0;
            }
          }
        }
      }

      .dialogs {
        display: grid;
        grid-template: 1fr / 1fr 3fr;

        .users {
          &__item {
            position: relative;
            font-weight: bold;
            font-size: 15px;
            margin: 0 0 10px 0;
            padding: 0 15px 0 0;
          }

          &__item.active::before {
            content: "";
            position: absolute;
            display: inline-block;
            left: -10px;
            width: 2px;
            height: 100%;
            background-color: #E54B4A;
          }
        }
      }

      .userspage {
        padding: 20px 0;

        &__loader {
          text-align: center;

          .ant-spin-dot-item {
            background-color: #E54B4A;
          }
        }

        &__pagination {
          margin: 0 0 15px 0;

          .ant-pagination-item,
          .ant-pagination-prev .ant-pagination-item-link,
          .ant-pagination-next .ant-pagination-item-link {
            border: 1px solid #E54B4A;
            border-radius: 50%;
          }

          .ant-pagination-item.ant-pagination-item-active {
            border: 2px solid #E54B4A;
          }

          .ant-pagination-item.ant-pagination-item-active a,
          .ant-pagination-item.ant-pagination-item-active a:hover,
          .ant-pagination-item a:hover,
          .ant-pagination-item a:focus {
            color: #212121;
          }
        }
      }

      .addpostpage {
        &__uploadplus{
          color: #E54B4A;
          border: 1px solid #E54B4A;
          border-radius: 50%;
          cursor: pointer;
        }

        &__container {
          width: 588px;
          margin: 0 auto;
        }

        &__image {
          max-width: 400px;
          overflow: hidden;
          margin: 0 0 20px 0;
        }

        &__img {
          max-width: 100%;
        }

        &__storyinput {
          line-height: 56px;
          min-height: 58px;
          border-radius: 2px;
          border: 1px solid #e9e9e9;
          width: 100%;
          margin: 0 0 15px 0;
        }

        &__header {
          font-size: 20px;
          line-height: 28px;
          color: #212121;
          width: 100%;
          padding: 0 0 0 10px;
        }

        &__storytextarea {
          line-height: 100px;
          min-height: 20px;
          border-radius: 2px;
          border: 1px solid #e9e9e9;
          width: 100%;
          padding: 15px 0 0 0;
          margin: 0 0 15px 0;
        }

        &__content {
          font-size: 14px;
          line-height: 22px;
          color: #212121;
          width: 100%;
        }

        &__submit {
          padding: 16px 24px;
          text-align: center;
        }

        &__addpost {
          font-size: 14px;
          line-height: 40px;
          width: 200px;
          margin: 0 auto;
        }
      }

      .settings {
        &__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &__change {
          font-size: 24px;
          line-height: 28px;
          font-weight: 400;
          color: #212121;
          margin: 0 0 20px 0;
        }

        &__updateaccount {
          font-size: 30px;
        }

        &__deleteaccount {
          color: gray;
          font-size: 12px;
          cursor: pointer;
        }

        &__data {
          display: flex;
          flex-direction: column;
        }

        &__data label {
          margin: 0 0 0px 0;
          font-size: 14px;
          cursor: pointer;
        }

        &__data input {
          margin: 0 0 20px 0;
          height: 30px;
          font-size: 20px;
          color: gray;
          border-bottom: 1px solid lightgray;
        }

        &__profilepicture {
          display: flex;
          align-items: center;
          margin: 0 0 25px 0;
        }

        &__avatar {
          overflow: hidden;
          height: 155px;
          width: 155px;
          border-radius: 5px;
          margin: 0 10px 0 0;
          cursor: pointer;
        }

        &__avatar img {
          max-width: 100%;
          display: block;
        }

        &__uploadfoto {
          display: block;
          padding: 4px 15px;
          text-align: center;
          background-color: #E54B4A;
          border-color: #E54B4A;
          border-radius: 2px;
          font-size: 13px;
          line-height: 22px;
          font-weight: 500;
          color: #fff;
          width: 155px;
          height: 32px;
          margin: 0 0 10px 0;
          align-self: center;
          cursor: pointer;
        }

        &__avatarselecticon {
          border-radius: 50%;
          background-color: #E54B4A;
          color: #FFF;
        }
      }

      .ant-typography-copy {
        color: #E54B4A;
      }
      .anticon-copy {
        color: #E54B4A;
      }
      .ant-tooltip-open {
        color: #E54B4A;
      }


    }

    .sidebar {
      grid-column: 3/4;

      .form {
        padding: 25px;
        border-radius: 2px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.99);
        margin: 0 0 18px 0;

        &__flex {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__header {
          margin: 0 0 12px 0;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
        }

        &__login,
        &__password,
        &__nikname {
          align-self: start;
          line-height: 30px;
          min-height: 30px;
          font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
          border-radius: 2px;
          flex: 1;
          display: block;
          width: 100%;
          margin: 0 0 12px 0;
        }

        &__login input,
        &__nikname input,
        &__password input {
          padding: 0 20px;
          background-color: #e8f0fe;
          color: #212121;
          display: block;
          width: 100%;
        }

        &__forget{
          cursor: pointer;
          font-size: 12px;
          line-height: 18px;
          color: var(--color-black-700);
          font-style: italic;
          margin: 0 0 12px 0;
        }

        &__forget a{
          cursor: pointer;
          font-size: 12px;
          line-height: 18px;
          color: var(--color-black-700);
          font-style: italic;
          margin: 0 0 12px 0;
        }

        &__button {
          background-color: #E54B4A;
          width: 100%;
          text-align: center;
          font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
          cursor: pointer;
          font-size: 13px;
          line-height: 32px;
          font-weight: 500;
          padding: 0 20px;
          color: #fff;
          margin: 0 0 12px 0;
          border-radius: 2px;
        }

        &__registration {
          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
          color: #E54B4A;
          cursor: pointer;
        }

        &__registration a.active,
        &__registration a {
          color: #E54B4A;
        }

        &__or {
          margin: 15px 0;
          position: relative;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          overflow: hidden;
          height: 24px;
        }

        &__section_or {
          font-style: normal;
          font-size: 12px;
          color: #757575;
          font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
          line-height: 20px;
          position: relative;
          display: inline-block;
          font-size: 13px;
          line-height: 20px;
        }

        &__section_or::before {
          right: 100%;
          margin-right: 15px;
        }

        &__section_or::after {
          left: 100%;
          margin-left: 15px;
        }

        &__section_or::before,
        &__section_or::after {
          content: "";
          position: absolute;
          top: 50%;
          height: 1px;
          background-color: #e9e9e9;
          width: 1200px;
        }

        .social {
          display: flex;
          justify-content: space-around;

          &__vk,
          &__fb,
          &__twitter,
          &__gmail {
            width: 32px;
            height: 32px;
            overflow: hidden;
          }

          &__vk img,
          &__fb img,
          &__twitter img,
          &__gmail img {
            max-width: 100%;
            display: block;
          }
        }
      }

      &__flex {
        display: flex;
        flex-direction: column;
      }

      .flex__center {
        align-items: center;
      }

      &__addpost {
        font-size: 14px;
        line-height: 40px;
        position: relative;
        width: 100%;
        margin: 0 0 8px 0;
      }

      &__createpublic {
        display: block;
        font-size: 14px;
        line-height: 40px;
        position: relative;
        width: 100%;
        text-align: center;
        padding: 0 20px;
        background-color: #e9e9e9;
        font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
        cursor: pointer;
        font-weight: 500;
        color: #757575;
        margin: 0 0 8px 0;
        border-radius: 2px;
      }

      .menu {
        border-bottom: 1px solid #e9e9e9;
        margin: 0 0 16px 0;

        &__item {
          position: relative;
          padding: 0 24px 5px 24px;
          width: 100%;
          cursor: pointer;
        }

        &__item.active::before {
          content: "";
          position: absolute;
          display: inline-block;
          left: 0px;
          width: 2px;
          height: 100%;
          background-color: #E54B4A;
        }

        &__navlink {
          color: #212121;
          width: 100%;
          line-height: 30px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .users {
        border: 1px solid #e9e9e9;
        margin: 0 0 16px 0;

        &__header {
          padding: 16px 24px;
          background-color: #f9f9fb;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__title h4 {
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
          color: #212121;
          margin: 0;
        }

        &__all {
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          color: #E54B4A;
          cursor: pointer;
        }

        &__all a.active,
        &__all a {
          color: #E54B4A;
        }

        &__items {
          padding: 16px 24px;
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
        }

        &__item {
          display: flex;
          align-items: center;
          margin: 0 0 10px 0;
        }

        &__image {
          width: 20px;
          height: 20px;
          overflow: hidden;
          margin: 0 10px 0 0;
        }

        &__image img {
          max-width: 100%;
          max-height: 100%;
          display: block;
        }

        &__name {
          font-weight: 500;
          color: #4d4d4d;
          overflow: hidden;
          cursor: pointer;
        }

        &__navlink {
          color: #212121;
          width: 100%;
          line-height: 30px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .userscard {
        border: 1px solid #e9e9e9;
        margin: 0 0 16px 0;

        &__header {
          padding: 16px 24px;
          background-color: #f9f9fb;
          display: flex;
          align-items: center;
        }

        &__avatar {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          margin: 0 15px 0 0;
          flex: 0 0 48px;
          overflow: hidden;
        }

        &__avatar img {
          max-width: 100%;
          display: block;
        }

        &__nik_container {
          flex: 1 0 auto;
        }

        &__nik_big {
          font-size: 18px;
          line-height: 26px;
          font-weight: 600;
          font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
          color: #212121;
          margin: 0;
        }

        &__logout {
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          color: #757575;
          cursor: pointer;
        }

        &__settings {
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          color: #E54B4A;
          align-self: flex-start;
          cursor: pointer;
        }

        &__all a.active,
        &__all a {
          color: #E54B4A;
        }

        &__items {
          padding: 16px 24px;
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
        }

        &__item {
          display: flex;
          align-items: center;
        }

        &__char {
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;
          margin-right: 5px;
        }

        &__ranking {
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          color: #757575;
          align-self: flex-end;
          padding-bottom: 2px;
        }

        &__navlink {
          color: #212121;
          width: 100%;
          line-height: 30px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    grid-area: footer;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 440px) minmax(auto, 510px) 1fr;
    //align-items: center;
    background-color: #E54B4A;
    padding: 10px 10px;
    color: #fff;

    &__copy {
      grid-column: 2/3;
      font-size: 1.6em;
    }

    &__text {
      grid-column: 3/4;
      text-align: start;
      font-size: 1.6em;

      .social {
        display: flex;
        //justify-content: space-around;

        &__viber,
        &__vk,
        &__tg,
        &__gmail {
          width: 32px;
          height: 32px;
          overflow: hidden;
          margin: 0 25px 0 0;
          cursor: pointer;
        }

        &__viber img,
        &__vk img,
        &__tg img,
        &__gmail img {
          max-width: 100%;
          display: block;
        }
      }
    }
  }

  .sectiongray {
    overflow: hidden;
    padding: 8px 0px;
    background-color: #f9f9fb;
  }

  .addpost {
    text-align: center;
    padding: 0 20px;
    background-color: #E54B4A;
    font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
  }

  .story {
    position: relative;
    margin: 0 0 20px 0;

    &__container {
      width: 588px;
      margin: 0 auto;
    }

    &__left {
      text-align: center;
      width: 70px;
      position: absolute;
      left: -80px;
      top: 0;
      bottom: 30px;
      right: 0;
      z-index: 3000;
      font-size: 16px;
      font-weight: 700;
      color: #757575;
    }

    &__left-like:hover {
      color: #212121;
    }

    &__left-dislike:hover {
      color: #212121;
    }

    &__main {
      min-height: 75px;
      border: 1px solid #e9e9e9;
      border-radius: 2px;
      font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }

    .user {
      padding: 15px 0 0 0;
      margin: 0 0 8px 0;

      &__info {
        display: flex;
      }

      &__avatar-small {
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-radius: 50%;
        background-color: #212121;
        margin: 0 8px 0 0;
      }

      &__avatar-small img {
        max-width: 100%;
        display: block;
      }

      &__nickname {
        font-weight: 550;
        margin-right: 4px;
        font-size: 13px;
        color: #4d4d4d;
        cursor: pointer;
      }

      &__time {
        font-size: 13px;
        line-height: 18px;
        padding-left: 4px;
        color: #757575;
        font-weight: 400;
        align-self: center;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      color: #212121;
      margin: 0 0 16px 0;
    }

    &__content p {
      line-height: 24px;
      text-align: left;
      color: #212121;
      font-size: 14px;
      margin: 0 0 16px 0;
    }

    &__photo {
      max-width: 588px;
      overflow: hidden;
    }

    &__photo img {
      max-width: 100%;
    }

    .make-flex {
      display: flex;
      justify-content: space-between;
    }

    &__footer {
      font-size: 13px;
      line-height: 36px;
      height: 52px;
      border-top: 1px solid #e9e9e9;
    }

    &__tools {
      display: flex;
    }

    &__comments {
      margin: 0 25px 0 0;
      position: relative;
    }

    &__comments-icon {
      position: absolute;
      top: 7px;
      left: 0;
    }

    &__comments-count {
      padding: 0 0 0 22px;
    }

    &__views {
      margin: 0 25px 0 0;
      position: relative;
    }

    &__views-icon {
      position: absolute;
      top: 5px;
      left: 0;
    }

    &__views-count {
      padding: 0 0 0 23px;
    }
  }

  .singlepostpage {
    &__submit {
      display: flex;
      padding: 16px 24px;
    }

    .story {
      &__edittitleinut {
        border-bottom: 1px solid lightgray;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: gray;
        text-align: center;
        width: 100%;
        margin: 0 0 30px 0;
        padding: 5px 0;
      }

      &__editcontentinut {
        line-height: 24px;
        text-align: left;
        color: gray;
        font-size: 14px;
        width: 100%;
        padding: 10px 0;
      }

      &__edittitleinut:focus,
      &__editcontentinut:focus {
        outline: none;
      }
    }

    .user {
      &__info {
        display: flex;
        justify-content: space-between;
      }

      &__infoblock,
      &__editblock {
        display: flex;
      }

      &__deleteicon {
        color: red;
        font-size: 18px;
        margin: 0 15px 0 0;
        cursor: pointer;
      }

      &__editicon {
        color: #E54B4A;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
