@import './nullstyle.scss';

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template: minmax(64px, auto) 1fr minmax(60px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;

    .header {
        grid-area: header;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__body {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 64px;
            display: grid;
            grid-template: 1fr / 1fr minmax(auto, 140px) minmax(auto, 880px) minmax(auto, 50px) 1fr;
            align-items: center;
            background-color: rgb(131, 190, 84);
            padding: 0px 10px;
            z-index: 2;
        }

        &__logo {
            grid-column: 2/3;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
        }

        &__logo img {
            max-width: 100%;
            display: block;
        }

        &__menu {
            grid-column: 3/4;
        }

        &__list {
            display: grid;
            grid-auto-flow: column;
            justify-items: end;
            margin-bottom: 0;
        }

        &__link {
            color: #fff;
        }

        &__burger {
            grid-column: 4/5;
        }
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 702px) minmax(auto, 300px) 1fr;
        padding: 20px 15px;

        .content {
            grid-column: 2/3;
            padding: 0 20px;
        }

        .sidebar {
            grid-column: 3/4;

            .form {
                padding: 25px;
                border-radius: 2px;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.99);
                margin: 0 0 18px 0;

                &__flex {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    //justify-content: center;
                }


                &__header {
                    margin: 0 0 12px 0;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                }

                &__login {
                    align-self: start;
                    line-height: 30px;
                    min-height: 30px;
                    font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
                    border-radius: 2px;
                    //box-shadow: 0 0 1px rgba(0, 0, 0, 0.99);
                    flex: 1;
                    display: block;
                    width: 100%;
                    margin: 0 0 12px 0;
                }

                &__password {
                    align-self: start;
                    line-height: 28px;
                    min-height: 30px;
                    font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
                    border-radius: 2px;
                    //box-shadow: 0 0 1px rgba(0, 0, 0, 0.99);
                    flex: 1;
                    display: block;
                    width: 100%;
                    margin: 0 0 12px 0;
                }

                &__login input,
                &__password input {
                    padding: 0 20px;
                    background-color: #E8F0FE;
                    color: #212121;
                    display: block;
                    width: 100%;
                }

                &__forget {
                    cursor: pointer;
                    font-size: 12px;
                    line-height: 18px;
                    color: var(--color-black-700);
                    font-style: italic;
                    margin: 0 0 12px 0;
                }

                &__button {
                    background-color: #8AC858;
                    width: 100%;
                    text-align: center;
                    font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
                    cursor: pointer;
                    font-size: 13px;
                    line-height: 32px;
                    font-weight: 500;
                    padding: 0 20px;
                    color: #fff;
                    margin: 0 0 12px 0;
                    border-radius: 2px;
                }

                &__registration {
                    font-size: 13px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #75AA4B;
                    cursor: pointer;
                }

                &__or {
                    margin: 15px 0;
                    position: relative;
                    text-align: center;
                    width: 100%;
                    text-transform: uppercase;
                    overflow: hidden;
                    height: 24px;
                }

                &__section_or {
                    font-style: normal;
                    font-size: 12px;
                    color: #757575;
                    font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
                    line-height: 20px;
                    position: relative;
                    display: inline-block;
                    font-size: 13px;
                    line-height: 20px;
                }

                &__section_or::before {
                    right: 100%;
                    margin-right: 15px;
                }

                &__section_or::after {
                    left: 100%;
                    margin-left: 15px;
                }

                &__section_or::before,
                &__section_or::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    height: 1px;
                    background-color: #E9E9E9;
                    width: 1200px;
                }

                .social {
                    display: flex;
                    justify-content: space-around;

                    &__vk,
                    &__fb,
                    &__twitter,
                    &__gmail {
                        width: 32px;
                        height: 32px;
                        overflow: hidden;
                    }

                    &__vk img,
                    &__fb img,
                    &__twitter img,
                    &__gmail img {
                        max-width: 100%;
                        display: block;
                    }
                }
            }

            .make__flex {
                display: flex;
                flex-direction: column;
                align-items: center;
                //justify-content: center;
            }

            &__addpost {
                display: block;
                font-size: 14px;
                line-height: 40px;
                position: relative;
                width: 100%;
                text-align: center;
                padding: 0 20px;
                background-color: #8AC858;
                font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
                cursor: pointer;
                font-weight: 500;
                color: #fff;
                margin: 0 0 8px 0;
                border-radius: 2px;
            }

            &__createpublic {
                display: block;
                font-size: 14px;
                line-height: 40px;
                position: relative;
                width: 100%;
                text-align: center;
                padding: 0 20px;
                background-color: #E9E9E9;
                font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
                cursor: pointer;
                font-weight: 500;
                color: #757575;
                margin: 0 0 8px 0;
                border-radius: 2px;
            }
        }
    }

    .footer {
        grid-area: footer;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 140px) minmax(auto, 880px) 1fr;
        align-items: center;
        background-color: rgb(131, 190, 84);
        padding: 10px 10px;
        color: #fff;

        &__copy {
            grid-column: 2/3;
        }

        &__text {
            grid-column: 3/4;
            text-align: end;
        }
    }
}