@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: minmax(64px, auto) 1fr minmax(60px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(64px, auto) 1fr minmax(60px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
}

.wrapper .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.wrapper .header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper .header__body {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 140px) minmax(auto, 880px) minmax(auto, 50px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 140px) minmax(auto, 880px) minmax(auto, 50px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #83be54;
  padding: 0px 10px;
  z-index: 2;
}

.wrapper .header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.wrapper .header__logo img {
  max-width: 100%;
  display: block;
}

.wrapper .header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.wrapper .header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  margin-bottom: 0;
}

.wrapper .header__link {
  color: #fff;
}

.wrapper .header__burger {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.wrapper .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 920px) minmax(auto, 300px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 920px) minmax(auto, 300px) 1fr;
  padding: 20px 15px;
}

.wrapper .main .content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 0 0 0 20px;
}

.wrapper .main .sidebar {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.wrapper .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 140px) minmax(auto, 880px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 140px) minmax(auto, 880px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #83be54;
  padding: 10px 10px;
  color: #fff;
}

.wrapper .footer__copy {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrapper .footer__text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: end;
}
