@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: minmax(64px, auto) 1fr minmax(60px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(64px, auto) 1fr minmax(60px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
}

.wrapper .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.wrapper .header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper .header__body {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 140px) minmax(auto, 880px) minmax(auto, 50px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 140px) minmax(auto, 880px) minmax(auto, 50px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #83be54;
  padding: 0px 10px;
  z-index: 2;
}

.wrapper .header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.wrapper .header__logo img {
  max-width: 100%;
  display: block;
}

.wrapper .header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.wrapper .header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  margin-bottom: 0;
}

.wrapper .header__link {
  color: #fff;
}

.wrapper .header__link a.active,
.wrapper .header__link a {
  color: #fff;
}

.wrapper .header__burger {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.wrapper .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 702px) minmax(auto, 300px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 702px) minmax(auto, 300px) 1fr;
  padding: 20px 15px;
}

.wrapper .main .content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 0 20px;
}

.wrapper .main .content .profileinfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 2fr 3fr;
      grid-template: 1fr / 2fr 3fr;
}

.wrapper .main .content .profileinfo__avatar {
  overflow: hidden;
  height: 140px;
  width: 140px;
  border-radius: 5px;
}

.wrapper .main .content .profileinfo__avatar img {
  display: block;
  max-width: 100%;
}

.wrapper .main .content .myposts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template: 1fr / 1fr 3fr;
}

.wrapper .main .content .myposts__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.wrapper .main .content .myposts__input {
  border: 1px solid #e9e9e9;
  width: 100%;
  padding: 2px 5px;
  margin: 0 0 10px 0;
  border-radius: 2px;
}

.wrapper .main .content .myposts__btn {
  -ms-grid-column-align: right;
      justify-self: right;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 13px;
  line-height: 32px;
  font-weight: 500;
  background-color: #8ac858;
  color: #fff;
  margin: 0 0 10px 0;
}

.wrapper .main .content .myposts__posts .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px 0;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}

.wrapper .main .content .myposts__posts .item .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 3px 0 3px 3px;
}

.wrapper .main .content .myposts__posts .item .top__image {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.wrapper .main .content .myposts__posts .item .top__image img {
  display: block;
  max-width: 100%;
}

.wrapper .main .content .myposts__posts .item .top__post {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .main .content .myposts__posts .item .vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: end;
}

.wrapper .main .content .myposts__posts .item .vote__likes {
  margin: 0 15px 0 0;
}

.wrapper .main .content .myposts__posts .item .vote__likes, .wrapper .main .content .myposts__posts .item .vote__dislikes {
  font-weight: 500;
}

.wrapper .main .content .myposts__posts .item .vote__likes span:first-child,
.wrapper .main .content .myposts__posts .item .vote__dislikes span:first-child {
  cursor: pointer;
}

.wrapper .main .content .myposts__posts .item .vote span {
  display: inline-block;
  margin: 0 3px 0 0;
}

.wrapper .main .content .dialogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template: 1fr / 1fr 3fr;
}

.wrapper .main .content .dialogs .users__item {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 10px 0;
  padding: 0 15px 0 0;
}

.wrapper .main .content .dialogs .users__item.active::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -10px;
  width: 2px;
  height: 100%;
  background-color: #83be54;
}

.wrapper .main .sidebar {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.wrapper .main .sidebar .form {
  padding: 25px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.99);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.99);
  margin: 0 0 18px 0;
}

.wrapper .main .sidebar .form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .sidebar .form__header {
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.wrapper .main .sidebar .form__login, .wrapper .main .sidebar .form__password, .wrapper .main .sidebar .form__nikname {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  line-height: 30px;
  min-height: 30px;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  border-radius: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  width: 100%;
  margin: 0 0 12px 0;
}

.wrapper .main .sidebar .form__login input,
.wrapper .main .sidebar .form__nikname input,
.wrapper .main .sidebar .form__password input {
  padding: 0 20px;
  background-color: #E8F0FE;
  color: #212121;
  display: block;
  width: 100%;
}

.wrapper .main .sidebar .form__forget {
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-black-700);
  font-style: italic;
  margin: 0 0 12px 0;
}

.wrapper .main .sidebar .form__button {
  background-color: #8AC858;
  width: 100%;
  text-align: center;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  cursor: pointer;
  font-size: 13px;
  line-height: 32px;
  font-weight: 500;
  padding: 0 20px;
  color: #fff;
  margin: 0 0 12px 0;
  border-radius: 2px;
}

.wrapper .main .sidebar .form__registration {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #75AA4B;
  cursor: pointer;
}

.wrapper .main .sidebar .form__registration a.active,
.wrapper .main .sidebar .form__registration a {
  color: #75AA4B;
}

.wrapper .main .sidebar .form__or {
  margin: 15px 0;
  position: relative;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
  height: 24px;
}

.wrapper .main .sidebar .form__section_or {
  font-style: normal;
  font-size: 12px;
  color: #757575;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  line-height: 20px;
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
}

.wrapper .main .sidebar .form__section_or::before {
  right: 100%;
  margin-right: 15px;
}

.wrapper .main .sidebar .form__section_or::after {
  left: 100%;
  margin-left: 15px;
}

.wrapper .main .sidebar .form__section_or::before, .wrapper .main .sidebar .form__section_or::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #E9E9E9;
  width: 1200px;
}

.wrapper .main .sidebar .form .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .main .sidebar .form .social__vk, .wrapper .main .sidebar .form .social__fb, .wrapper .main .sidebar .form .social__twitter, .wrapper .main .sidebar .form .social__gmail {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.wrapper .main .sidebar .form .social__vk img,
.wrapper .main .sidebar .form .social__fb img,
.wrapper .main .sidebar .form .social__twitter img,
.wrapper .main .sidebar .form .social__gmail img {
  max-width: 100%;
  display: block;
}

.wrapper .main .sidebar__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main .sidebar .flex__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .sidebar__addpost {
  display: block;
  font-size: 14px;
  line-height: 40px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  background-color: #8AC858;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  margin: 0 0 8px 0;
  border-radius: 2px;
}

.wrapper .main .sidebar__createpublic {
  display: block;
  font-size: 14px;
  line-height: 40px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  background-color: #E9E9E9;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  cursor: pointer;
  font-weight: 500;
  color: #757575;
  margin: 0 0 8px 0;
  border-radius: 2px;
}

.wrapper .main .sidebar .menu {
  border-bottom: 1px solid #e9e9e9;
  margin: 0 0 16px 0;
}

.wrapper .main .sidebar .menu__item {
  position: relative;
  padding: 0 24px 5px 24px;
  width: 100%;
  cursor: pointer;
}

.wrapper .main .sidebar .menu__item.active::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 2px;
  height: 100%;
  background-color: #83be54;
}

.wrapper .main .sidebar .menu__navlink {
  color: #212121;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper .main .sidebar .users {
  border: 1px solid #e9e9e9;
  margin: 0 0 16px 0;
}

.wrapper .main .sidebar .users__header {
  padding: 16px 24px;
  background-color: #f9f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .sidebar .users__title h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  color: #212121;
  margin: 0;
}

.wrapper .main .sidebar .users__all {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #75AA4B;
  cursor: pointer;
}

.wrapper .main .sidebar .users__items {
  padding: 16px 24px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.wrapper .main .sidebar .users__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.wrapper .main .sidebar .users__image {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.wrapper .main .sidebar .users__image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.wrapper .main .sidebar .users__name {
  font-weight: 500;
  color: #4d4d4d;
  overflow: hidden;
  cursor: pointer;
}

.wrapper .main .sidebar .users__navlink {
  color: #212121;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 140px) minmax(auto, 880px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 140px) minmax(auto, 880px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #83be54;
  padding: 10px 10px;
  color: #fff;
}

.wrapper .footer__copy {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrapper .footer__text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: end;
}
